@use "sass:math";
@use "./settings.scss";

.page-index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  gap: settings.$spacer-min*5 0;

  .section-pickup {
    grid-row: 1/2;
  }

  .section-movies {
    grid-row: 2/3;
    overflow: hidden;
  }

  .movie-list {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;

    .movie-item {
      display: inline-block;
      // width: 56vw;
      height: 123px;
      margin-right: settings.$spacer-min;
      font-size: 1.6rem;

      a {
        height: inherit;
        display: block;
      }

      img {
        height: inherit;
      }
    }
  }

  .list-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2em * 1.4;
    margin-bottom: settings.$spacer-min;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
  }

  .list-safix {
    margin-top: settings.$spacer-min * 2;

    a {
      display: block;
      text-align: center;
      line-height: 1;
    }
  }

  .section-pickup {

    .swiper {
      --swiper-pagination-top: calc(100% - #{settings.$spacer-min});
      padding-bottom: settings.$spacer-min * 3;
    }

    .swiper-pagination {

      --swiper-pagination-color: #ffffff;
      --swiper-pagination-bullet-inactive-color: #ffffff;

      display: flex;
      gap: math.div(settings.$spacer-min, 2);

      .swiper-pagination-bullet {
        flex: 1;
        border-radius: 0;
        height: 4px;
        margin: 0;
      }
      .swiper-pagination-bullet-active  {

      }
    }
  
  }

  .section-movies {
    .swiper-wrapper {
      transform: translateX(calc(0% - 0px)) !important;
      // margin-top: 30vh;
    }

    .swiper-slide {
      transform-origin: 0 50%;

      &:not(.swiper-slide-active) {
        width: 1000vw;
        opacity: 0.4 !important;
        pointer-events: none;
      }

      &:not(.swiper-slide-fully-visible) {
        opacity: 0 !important;
      }

      &.swiper-slide-prev-prev, &.swiper-slide-next-next {
        opacity: 0.2 !important;
      }

      &.swiper-slide-prev {
        // margin-bottom: 20px;
      }

      &.swiper-slide-next {
        // margin-top: 20px;
      }

      &.swiper-slide-prev-prev {
        margin-bottom: -40px;
      }

      &.swiper-slide-next-next {
        margin-top: -40px;
      }
    }

    //スタイリング
    .swiper-slide-active {
      padding: settings.$spacer-min * 2 0;
      background-color: rgba(settings.$theme-main-background, 0.4);
    }

    .swiper-slide {
      &:not(.swiper-slide-active) {
        .list-title, .list-safix {
          visibility: hidden;
        }
      }
    }

  }

}
