@use 'sass:math';
@use '@/sass/settings.scss';

.box-buttons {
  display: flex;
  justify-content: space-between;
  gap: settings.$spacer-min;

  .button {
    flex: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  text-align: center;
}

.button {
  &_outline {
    outline: 1px solid currentColor;
  }
}
