$theme-main-background: #171d1a;
$theme-main-text: #ffffff;
$theme-sub-background: #c8e6db;
$theme-sub-text: #88919c;

$layer-globalHeader: 1000;
$layer-listHeader: 1000;
$layer-detail: 10;

$sizeH_globalHeader: 44px;

$spacer-min: 8px;
