@use "sass:math";
@use "./sass/settings.scss";
@use "./sass/reset.scss";
@use "./sass/global.scss";
@use "./sass/movieDetails.scss";
@use "./sass/decoration.scss";
@use "./sass/playerSwiper";


@view-transition {
  navigation: auto;
}

/*
  各アイテムにIDを元にページ遷移前後に
  一意のtransition nameをつける

  →前後のアイテムをアニメーションできない
*/

// .swiper-slide-active {
//   view-transition-name: movie-active;
//   contain: paint;
// }

.movie-item {
  contain: paint;
}

::view-transition-group(*) {
  animation-duration: 5s;
  transition: rotate 5s ease;
}

.list-wrapper {
  view-transition-name: listwrapper;
  contain: paint;
  transition: rotate 5s ease 5s;
  transform-style: preserve-3d;

}

.list-wrapper {
  &.swiper {
    transform: rotateY(90deg);
  }
  .swiper-slide {
    // transform: rotateY(-90deg);
  }
}
