@use "sass:math";
@use "./settings.scss";

.section-movies {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 120vw;
    border: 1px solid white;
    border-radius: 50%;
    translate: -150vw calc(-1 * var(--space-height) + settings.$sizeH_globalHeader - 30vw);
    opacity: 0.33;
  } 
}

.guide {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  bottom: 16px;
  right: 8px;
  opacity: 0.3;

  .guide-prev, .guide-next {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }
  .guide-prev {
    &:before {
      content: "↑";
    }

  }
  .guide-next {
    &:after {
      content: "↓";
    }
  }
}