@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  margin-bottom: 0.66em;
  text-align: justify;
  text-justify: inter-ideograph;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #171D1A;
  color: #ffffff;
}

.global-header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 44px;
  background-color: rgba(23, 29, 26, 0.66);
  background: rgba(23, 29, 26, 0.86);
  font-weight: bold;
  color: #999999;
}
.global-header + .main {
  margin-top: 44px;
}

.main {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.button_solid {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 42px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 1;
}

.button_border {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  padding: 0 1em;
  border: 2px solid currentColor;
  text-decoration: none;
  color: inherit;
}

@view-transition {
  navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0s;
  animation: none;
  mix-blend-mode: normal;
}

.is_vt_wrapper {
  contain: paint;
  view-transition-name: isvtwrapper;
}

.is_vt_item {
  contain: paint;
  view-transition-name: isvtitem;
}

::view-transition-group(isvtwrapper), ::view-transition-group(isvtitem) {
  animation-duration: 5s;
}

::view-transition-old(isvtwrapper) {
  animation: 3s linear both wrapper-old;
}

::view-transition-new(isvtwrapper) {
  animation: 3s linear both wrapper-new;
}

@keyframes wrapper-old {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg);
  }
}
@keyframes wrapper-new {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}
.page-index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  gap: 40px 0;
}
.page-index .section-pickup {
  grid-row: 1/2;
}
.page-index .section-movies {
  grid-row: 2/3;
  overflow: hidden;
}
.page-index .movie-list {
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
}
.page-index .movie-list .movie-item {
  display: inline-block;
  height: 123px;
  margin-right: 8px;
  font-size: 1.6rem;
}
.page-index .movie-list .movie-item a {
  height: inherit;
  display: block;
}
.page-index .movie-list .movie-item img {
  height: inherit;
}
.page-index .list-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.8em;
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
}
.page-index .list-safix {
  margin-top: 16px;
}
.page-index .list-safix a {
  display: block;
  text-align: center;
  line-height: 1;
}
.page-index .section-pickup .swiper {
  --swiper-pagination-top: calc(100% - 8px);
  padding-bottom: 24px;
}
.page-index .section-pickup .swiper-pagination {
  --swiper-pagination-color: #ffffff;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  display: flex;
  gap: 4px;
}
.page-index .section-pickup .swiper-pagination .swiper-pagination-bullet {
  flex: 1;
  border-radius: 0;
  height: 4px;
  margin: 0;
}
.page-index .section-movies .swiper-wrapper {
  transform: translateX(calc(0% - 0px)) !important;
}
.page-index .section-movies .swiper-slide {
  transform-origin: 0 50%;
}
.page-index .section-movies .swiper-slide:not(.swiper-slide-active) {
  width: 1000vw;
  opacity: 0.4 !important;
  pointer-events: none;
}
.page-index .section-movies .swiper-slide:not(.swiper-slide-fully-visible) {
  opacity: 0 !important;
}
.page-index .section-movies .swiper-slide.swiper-slide-prev-prev, .page-index .section-movies .swiper-slide.swiper-slide-next-next {
  opacity: 0.2 !important;
}
.page-index .section-movies .swiper-slide.swiper-slide-prev-prev {
  margin-bottom: -40px;
}
.page-index .section-movies .swiper-slide.swiper-slide-next-next {
  margin-top: -40px;
}
.page-index .section-movies .swiper-slide-active {
  padding: 16px 0;
  background-color: rgba(23, 29, 26, 0.4);
}
.page-index .section-movies .swiper-slide:not(.swiper-slide-active) .list-title, .page-index .section-movies .swiper-slide:not(.swiper-slide-active) .list-safix {
  visibility: hidden;
}

.page-player .section-movies {
  --space-height: 100px;
  width: 100%;
}
.page-player .list-title {
  position: fixed;
  top: 44px;
  z-index: 1000;
  width: 100%;
}

.page-player .section-movies {
  position: relative;
}
.page-player .section-movies:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vw;
  border: 1px solid white;
  border-radius: 50%;
  translate: -150vw calc(-1 * var(--space-height) + 44px - 30vw);
  opacity: 0.33;
}
.page-player .guide {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  bottom: 16px;
  right: 8px;
  opacity: 0.3;
}
.page-player .guide .guide-prev, .page-player .guide .guide-next {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}
.page-player .guide .guide-prev:before {
  content: "↑";
}
.page-player .guide .guide-next:after {
  content: "↓";
}

.page-player .movie-item {
  position: relative;
  overflow: visible !important;
}
.page-player .movie-item img {
  position: relative;
  z-index: 1;
}
.page-player .movie-item iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.page-player .movie-item .movie-item-header {
  padding: 0 16px;
  background: rgba(23, 29, 26, 0.2);
}
.page-player .movie-item .movie-item-footer {
  padding: 0 16px;
  background: rgba(23, 29, 26, 0.2);
}

.page-player .movie-list .movie-item {
  transform-origin: 0 50%;
}
.page-player .swiper-slide:not(.swiper-slide-active, .swiper-slide-prev, .swiper-slide-next) {
  visibility: hidden;
}
.page-player .swiper-wrapper {
  position: relative;
}
.page-player .swiper-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1 * var(--space-height));
  width: 100%;
  height: var(--space-height);
}

.section-details {
  visibility: hidden;
  opacity: 0;
  transition: opacity 5s, visibility 0s ease 5s;
  position: absolute;
  top: 44px;
  bottom: 24px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 16px;
  background: rgba(23, 29, 26, 0.86);
  transition: height 200ms ease;
}
.section-details.is_active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.details-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-header {
  position: relative;
}

.details-body {
  flex: 1;
  padding: 24px 0;
  overflow: scroll;
}

.movie-title {
  margin: 0.66em 0;
  font-size: 2rem;
  line-height: 1.4;
  text-align: justify;
  text-justify: inter-ideograph;
}

.buttons-reaction {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.buttons-reaction button {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: bold;
}

.button-detail_show {
  margin-top: 24px;
  width: 100%;
}

.button-detail_hide {
  display: block;
  margin-left: auto;
  width: 42px;
  height: 42px;
  font-size: 42px;
}/*# sourceMappingURL=style.css.map */