@use "sass:math";
@use "./settings.scss";

.page-index {

  .list-features {
    transform-style: preserve-3d;
  }

  .section-movies {
  }


  .box-pickup {
    .movie-list {
    }
    .movie-item {
      margin-bottom: settings.$spacer-min * 5;
    }
  }

  .box-feature {
    margin-bottom: settings.$spacer-min * 5;

    .movie-list {
      overflow-x: auto;
      white-space: nowrap;
      font-size: 0;

      .movie-item {
        display: inline-block;
        width: 56vw;
        margin-left: settings.$spacer-min;
        font-size: 1.6rem;
      }
    }

  }

}
