@use "./settings.scss";


.section-details {
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 10ms ease-in-out;

  .button-detail_hide, #button-detail_hide {
    display: none;
  }  
  .details-body {
    height: 0;
    opacity: 0;
    padding: 0 16px;
    transition: opacity 100ms 300ms;
  }

  &.is_active {
    top: settings.$sizeH_globalHeader !important;
    background-color: rgba(settings.$theme-main-background, 0.86);
    transition: all 180ms ease-in-out;

    .button-detail_hide, #button-detail_hide {
      display: block;
    }
    .details-body {
      flex: 1;
      opacity: 1;
      padding: 24px 16px;
    }

    .details-footer {
      position: sticky;
      bottom: 0;
    }

    #button-detail_show {
      display: none;
    }
  }
}

.details-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-header {
  padding: 0 16px;
}

.details-body {
  overflow: scroll;

  > * {
    margin-bottom: 40px;
  }
}

.details-footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}


.movie-title {
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0.66em 0;
  font-size: 2.0rem;
  line-height: 1.4;
}

.button-detail_show {
  flex: 1;
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 6px;
  line-height: 1;

  .button {
    width: 100%;
  }
}

.button-detail_hide {
  margin-left: auto;
  font-size: 3em;
}


.buttons-reaction {
  display: flex;
  gap: 16px;
  button {
    width: 42px;
    height: 42px;
    border: 1px solid settings.$theme-main-text;
    border-radius: 50%;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  .icon {
    background-color: rgba(white, 0.2);
    padding: 0.1em 1em;
  }
}
