html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.global-header {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  top: 0;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: #999999;
}

.splide__slide {
  &.is-active {
    background-color: #82d2c2;
    img {
      opacity: 0.8;
    }
  }
  &:not(.is-active) {
    width: 80%;
  }
}