@use "sass:math";
@use "./sass/settings.scss";
@use "./sass/reset.scss";
@use "./sass/global.scss";
@use "./sass/movieDetails.scss";


.section-movies {
  --space-height: 100px;

  position: relative;
  width: 100%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vw;
    border: 1px solid white;
    border-radius: 50%;
    translate: calc(-50% - 75vw) -50%;
  } 
}

.swiper-wrapper {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(-1 * var(--space-height));
    width: 100%;
    height: var(--space-height);
  }
}

.movie-item {
  position: relative;
  overflow: visible !important;

  img {
    position: relative;
    z-index: 1;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .movie-item-header {
    padding: 0 16px;
    background: rgba(settings.$theme-main-background, 0.2);  
  }

  .movie-item-footer {
    padding: 0 16px;
    background: rgba(settings.$theme-main-background, 0.2);  
  }
}


.swiper-slide {
  transform-origin: 0 50%;

  &.swiper-slide-active {
  }

  &.swiper-slide-prev {
  }

  &.swiper-slide-next {
  }

  &:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next)  {
    opacity: 0 !important;
  }

  &:not([class*="swiper-slide-"]) {
  }

}
