html {
  --theme-main-background: #171D1A;
  --theme-main-text: #ffffff;
  --theme-sub-background: #C8E6DB;
  --theme-sub-text: #88919c;
  
  --layer-globalHeader: 1000;
  --layer-listHeader: 1000;
  --layer-detail: 10;
  
  --sizeH_globalHeader: 44px;
  
  --spacer-min: 8px;
}
