@use "./sass/settings.scss";
@use "./sass/global.scss";
@use "./sass/reset.scss";
@use "./sass/movieDetails.scss";

.main {
  height: calc(100vdh - #{settings.$sizeH_globalHeader});
}

.section-movies {
  grid-column: 1/2;
  grid-row: 1/2;
}

.section-details {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 40vh;
  z-index: settings.$layer-detail;
}

.list-title {
  position: relative;
  z-index: 10;
  margin: 24px 0;
  padding: 0 8px;
  font-size: 1.6rem;
  font-weight: normal;
}

.swiper-wrapper {
  margin-top: -25vh;
}

.movie-item {
  height: fit-content;
  // transition: all 300ms ease;

  &:not(.swiper-slide-active) {
    background-color: settings.$theme-main-background;
    img {
      opacity: 0.3;
    }
    // transform: translateX(16px);
    // transition: all 300ms ease;
  }
}

