@use "./settings.scss";

.section-details {

  &.is_active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  visibility: hidden;
  opacity: 0;
  transition: opacity 5s, visibility 0s ease 5s;

  position: absolute;
  top: settings.$sizeH_globalHeader;
  bottom: 24px;
  left: 0;
  right: 0;
  z-index: settings.$layer-detail;
  padding: 16px;
  background: rgba(settings.$theme-main-background, 0.86);
  transition: height 200ms ease;
}

.details-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.details-header {
  position: relative;
}

.details-body {
  flex: 1;
  padding: 24px 0;
  overflow: scroll;
}

.details-footer {
}

.movie-title {
  text-align: justify;
  text-justify: inter-ideograph;
}

.buttons-reaction {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  button {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background-color: rgba(settings.$theme-main-text, 0.2);
    border-radius: 50%;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.button-detail_show {
  margin-top: 24px;
  width: 100%;
}

.button-detail_hide {
  display: block;
  margin-left: auto;
  width: 42px;
  height: 42px;
  font-size: 42px;
}
