@use 'sass:math';
@use "./sass/settings.scss";
@use "./sass/global.scss";
@use "./sass/reset.scss";
@use "./sass/movieDetails.scss";

.main {
  position: relative;
  height: calc(100vdh - #{settings.$sizeH_globalHeader});
  height: calc(100vh - #{settings.$sizeH_globalHeader});
}

.section-movies {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
}

.section-details {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: settings.$layer-detail;
}

.list-title {
  position: relative;
  z-index: 10;
  margin: 24px 0;
  padding: 0 8px;
  font-size: 1.6rem;
  font-weight: normal;
}

.swiper-wrapper {
  margin-top: 15vh;
  transform: translateX(calc(0)) !important;
}

.swiper-slide{
  &-active{
    opacity: 1 !important;
  }
  
  &:not(.swiper-slide-active) {
    background-color: settings.$theme-main-background;
    img {
      opacity: 0.3;
    }
  }
}

.movie-item {
  height: fit-content;
}
