html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
}

.global-header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.66);
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
  font-weight: bold;
  color: #999999;
}

.main {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  width: 100vw;
  height: 100vh;
}

.button_solid {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 42px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 1;
}

.button_border {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  padding: 0 1em;
  border: 2px solid currentColor;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

p {
  margin: 0;
  margin-bottom: 0.66em;
  text-align: justify;
  text-justify: inter-ideograph;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.section-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  background: rgba(0, 0, 0, 0.92);
}
.section-details .button-detail_hide, .section-details #button-detail_hide {
  display: none;
}
.section-details .details-body {
  padding: 0 16px;
}
.section-details.is_active .button-detail_hide, .section-details.is_active #button-detail_hide {
  display: block;
}
.section-details.is_active .details-body {
  flex: 1;
  height: auto;
  padding: 24px 16px;
}
.section-details.is_active #button-detail_show {
  display: none;
}

.details-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-header {
  padding: 0 16px;
}

.details-body {
  overflow: scroll;
}

.details-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.movie-title {
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0.66em 0;
  line-height: 1.3;
}

.button-detail_show {
  flex: 1;
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 6px;
  line-height: 1;
}
.button-detail_show .button {
  width: 100%;
}

.button-detail_hide {
  margin-left: auto;
  font-size: 3em;
}

.buttons-reaction {
  display: flex;
  gap: 16px;
}
.buttons-reaction button {
  width: 42px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.icons .icon {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.1em 1em;
}

.main {
  position: relative;
  height: calc(100vdh - 42px);
  height: calc(100vh - 42px);
}

.section-movies {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
}

.section-details {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 10;
}

.list-title {
  position: relative;
  z-index: 10;
  margin: 24px 0;
  padding: 0 8px;
  font-size: 1.6rem;
  font-weight: normal;
}

.swiper-wrapper {
  margin-top: 15vh;
  transform: translateX(0) !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}
.swiper-slide:not(.swiper-slide-active) {
  background-color: #000000;
}
.swiper-slide:not(.swiper-slide-active) img {
  opacity: 0.3;
}

.movie-item {
  height: -moz-fit-content;
  height: fit-content;
}/*# sourceMappingURL=style.css.map */