@use "sass:math";
@use "./sass/settings.scss";
@use "./sass/global.scss";
@use "./sass/reset.scss";
@use "./sass/movieDetails.scss";

.section-details {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: settings.$layer-detail;
  width: 100%;
  height: 30vh;
  background: settings.$theme-main-background;
  background: linear-gradient(180deg, rgba(settings.$theme-main-background, 0) 0%, rgba(settings.$theme-main-background, 1) 40%);
  transition: height 200ms ease;

  &.is_showmore {
    height: 60vh;
  }
  
}

.section-movies {
  container-type: inline-size;
  width: 100%;
  padding-top: settings.$sizeH_globalHeader;
}

.list-title {
  position: absolute;
  top: 32px;
  z-index: 10;
  width: 100%;
  padding: 8px;
  box-shadow: 0 0 8px 8px rgba(settings.$theme-main-background, 0.3);
  background-color: rgba(settings.$theme-main-background, 0.3);
  font-size: 1.6rem;
  font-weight: normal;
}


.swiper-wrapper {
  margin-top: 10vh;
  // transition-delay: 400ms !important;
}

.movie-item {
  height: fit-content;

  img {
    position: relative;
    z-index: 1;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

.swiper-slide {
  position: relative;
  aspect-ratio: 16/9;
  width: 40cqw;
  transform-origin: 0 0;

  &.swiper-slide-active {
    zoom: math.div(100, 40);
    margin-bottom: math.div(24, math.div(100, 40)) !important;
  }

  &:not(.swiper-slide-active) {
    margin-left: 16px;
    opacity: 0.5;
  }

}

.section-movies-background {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  aspect-ratio: 4/3;
  img {
    position: absolute;
    opacity: 0.3;
    filter: blur(3px);
    transform: scale(1.3);
    &:first-child {
      top: 0;
    }
    &:last-child {
      bottom: 0;
    }
  }
}
