html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
}

.global-header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.66);
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
  font-weight: bold;
  color: #999999;
}

.main {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  width: 100vw;
  height: 100vh;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

p {
  margin: 0;
  margin-bottom: 0.66em;
  text-align: justify;
  text-justify: inter-ideograph;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.section-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 40%);
}

.details-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-header {
  padding: 0 16px;
}

.details-body {
  flex: 1;
  padding: 0 24px 16px;
  background: rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

.details-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.button-search {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 42px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 1;
}

.buttons-reaction {
  display: flex;
  gap: 16px;
}
.buttons-reaction button {
  width: 42px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: bold;
}

.main {
  height: calc(100vdh - 42px);
}

.section-movies {
  grid-column: 1/2;
  grid-row: 1/2;
}

.section-details {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 40vh;
  z-index: 10;
}

.list-title {
  position: relative;
  z-index: 10;
  margin: 24px 0;
  padding: 0 8px;
  font-size: 1.6rem;
  font-weight: normal;
}

.swiper-wrapper {
  margin-top: -25vh;
}

.movie-item {
  height: -moz-fit-content;
  height: fit-content;
}
.movie-item:not(.swiper-slide-active) {
  background-color: #000000;
}
.movie-item:not(.swiper-slide-active) img {
  opacity: 0.3;
}

.swiper-slide {
  position: relative;
}
.swiper-slide[index="-50"] {
  right: 1000vw;
}
.swiper-slide[index="-49"] {
  right: 980vw;
}
.swiper-slide[index="-48"] {
  right: 960vw;
}
.swiper-slide[index="-47"] {
  right: 940vw;
}
.swiper-slide[index="-46"] {
  right: 920vw;
}
.swiper-slide[index="-45"] {
  right: 900vw;
}
.swiper-slide[index="-44"] {
  right: 880vw;
}
.swiper-slide[index="-43"] {
  right: 860vw;
}
.swiper-slide[index="-42"] {
  right: 840vw;
}
.swiper-slide[index="-41"] {
  right: 820vw;
}
.swiper-slide[index="-40"] {
  right: 800vw;
}
.swiper-slide[index="-39"] {
  right: 780vw;
}
.swiper-slide[index="-38"] {
  right: 760vw;
}
.swiper-slide[index="-37"] {
  right: 740vw;
}
.swiper-slide[index="-36"] {
  right: 720vw;
}
.swiper-slide[index="-35"] {
  right: 700vw;
}
.swiper-slide[index="-34"] {
  right: 680vw;
}
.swiper-slide[index="-33"] {
  right: 660vw;
}
.swiper-slide[index="-32"] {
  right: 640vw;
}
.swiper-slide[index="-31"] {
  right: 620vw;
}
.swiper-slide[index="-30"] {
  right: 600vw;
}
.swiper-slide[index="-29"] {
  right: 580vw;
}
.swiper-slide[index="-28"] {
  right: 560vw;
}
.swiper-slide[index="-27"] {
  right: 540vw;
}
.swiper-slide[index="-26"] {
  right: 520vw;
}
.swiper-slide[index="-25"] {
  right: 500vw;
}
.swiper-slide[index="-24"] {
  right: 480vw;
}
.swiper-slide[index="-23"] {
  right: 460vw;
}
.swiper-slide[index="-22"] {
  right: 440vw;
}
.swiper-slide[index="-21"] {
  right: 420vw;
}
.swiper-slide[index="-20"] {
  right: 400vw;
}
.swiper-slide[index="-19"] {
  right: 380vw;
}
.swiper-slide[index="-18"] {
  right: 360vw;
}
.swiper-slide[index="-17"] {
  right: 340vw;
}
.swiper-slide[index="-16"] {
  right: 320vw;
}
.swiper-slide[index="-15"] {
  right: 300vw;
}
.swiper-slide[index="-14"] {
  right: 280vw;
}
.swiper-slide[index="-13"] {
  right: 260vw;
}
.swiper-slide[index="-12"] {
  right: 240vw;
}
.swiper-slide[index="-11"] {
  right: 220vw;
}
.swiper-slide[index="-10"] {
  right: 200vw;
}
.swiper-slide[index="-9"] {
  right: 180vw;
}
.swiper-slide[index="-8"] {
  right: 160vw;
}
.swiper-slide[index="-7"] {
  right: 140vw;
}
.swiper-slide[index="-6"] {
  right: 120vw;
}
.swiper-slide[index="-5"] {
  right: 100vw;
}
.swiper-slide[index="-4"] {
  right: 80vw;
}
.swiper-slide[index="-3"] {
  right: 60vw;
}
.swiper-slide[index="-2"] {
  right: 40vw;
}
.swiper-slide[index="-1"] {
  right: 20vw;
}
.swiper-slide[index="1"] {
  left: 20vw;
}
.swiper-slide[index="2"] {
  left: 40vw;
}
.swiper-slide[index="3"] {
  left: 60vw;
}
.swiper-slide[index="4"] {
  left: 80vw;
}
.swiper-slide[index="5"] {
  left: 100vw;
}
.swiper-slide[index="6"] {
  left: 120vw;
}
.swiper-slide[index="7"] {
  left: 140vw;
}
.swiper-slide[index="8"] {
  left: 160vw;
}
.swiper-slide[index="9"] {
  left: 180vw;
}
.swiper-slide[index="10"] {
  left: 200vw;
}
.swiper-slide[index="11"] {
  left: 220vw;
}
.swiper-slide[index="12"] {
  left: 240vw;
}
.swiper-slide[index="13"] {
  left: 260vw;
}
.swiper-slide[index="14"] {
  left: 280vw;
}
.swiper-slide[index="15"] {
  left: 300vw;
}
.swiper-slide[index="16"] {
  left: 320vw;
}
.swiper-slide[index="17"] {
  left: 340vw;
}
.swiper-slide[index="18"] {
  left: 360vw;
}
.swiper-slide[index="19"] {
  left: 380vw;
}
.swiper-slide[index="20"] {
  left: 400vw;
}
.swiper-slide[index="21"] {
  left: 420vw;
}
.swiper-slide[index="22"] {
  left: 440vw;
}
.swiper-slide[index="23"] {
  left: 460vw;
}
.swiper-slide[index="24"] {
  left: 480vw;
}
.swiper-slide[index="25"] {
  left: 500vw;
}
.swiper-slide[index="26"] {
  left: 520vw;
}
.swiper-slide[index="27"] {
  left: 540vw;
}
.swiper-slide[index="28"] {
  left: 560vw;
}
.swiper-slide[index="29"] {
  left: 580vw;
}
.swiper-slide[index="30"] {
  left: 600vw;
}
.swiper-slide[index="31"] {
  left: 620vw;
}
.swiper-slide[index="32"] {
  left: 640vw;
}
.swiper-slide[index="33"] {
  left: 660vw;
}
.swiper-slide[index="34"] {
  left: 680vw;
}
.swiper-slide[index="35"] {
  left: 700vw;
}
.swiper-slide[index="36"] {
  left: 720vw;
}
.swiper-slide[index="37"] {
  left: 740vw;
}
.swiper-slide[index="38"] {
  left: 760vw;
}
.swiper-slide[index="39"] {
  left: 780vw;
}
.swiper-slide[index="40"] {
  left: 800vw;
}
.swiper-slide[index="41"] {
  left: 820vw;
}
.swiper-slide[index="42"] {
  left: 840vw;
}
.swiper-slide[index="43"] {
  left: 860vw;
}
.swiper-slide[index="44"] {
  left: 880vw;
}
.swiper-slide[index="45"] {
  left: 900vw;
}
.swiper-slide[index="46"] {
  left: 920vw;
}
.swiper-slide[index="47"] {
  left: 940vw;
}
.swiper-slide[index="48"] {
  left: 960vw;
}
.swiper-slide[index="49"] {
  left: 980vw;
}
.swiper-slide[index="50"] {
  left: 1000vw;
}/*# sourceMappingURL=style.css.map */