@use "./settings.scss";

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: settings.$theme-main-background;
  color: settings.$theme-main-text;
}


.global-header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  height: 42px;
  margin-bottom: 24px;
  background-color: rgba(settings.$theme-main-background, 0.66);
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(settings.$theme-main-background, 0.8) 0%, rgba(settings.$theme-main-background, 0.8) 80%, rgba(settings.$theme-main-background, 0) 100%);
  font-weight: bold;
  color: #999999;
}

