img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  border:none;
}

p {
  margin: 0;
  margin-bottom: 0.66em;
  text-align: justify;
  text-justify: inter-ideograph;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}